/* FileUpload.css */

.fileUploadContainer {
  padding: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.fileDropZone {
  border: 2px dashed #ccc;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  background-color: transparent;
}

.fileDropZoneActive {
  background-color: #f0f0f0;
}

.fileName {
  margin-bottom: 16px;
}

.uploadButton {
  margin-bottom: 16px;
}

.progressBar {
  width: 100%;
}

.savingMessage {
  margin-top: 8px;
  text-align: center;
  color: #757575;
}